In [11]:
import pandas as pd

df = pd.DataFrame({
    'Customer_ID': [1, 2, 3, 4],
    'Gender': ['Male', 'Female', 'Female', 'Male'],
    'Purchased': ['Yes', 'No', 'Yes', 'No']
})

df

   Customer_ID  Gender Purchased
0            1    Male       Yes
1            2  Female        No
2            3  Female       Yes
3            4    Male        No

### **Label Encoding**

In [12]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df["New_Purchased"] = le.fit_transform(df["Purchased"])
df

   Customer_ID  Gender Purchased  New_Purchased
0            1    Male       Yes              1
1            2  Female        No              0
2            3  Female       Yes              1
3            4    Male        No              0

---------

### **One - Hot Encoding**

In [14]:
from sklearn.preprocessing import OneHotEncoder

Oe = OneHotEncoder()

encoded = Oe.fit_transform(df[["Gender"]]).toarray()

df = pd.DataFrame(encoded, columns = Oe.get_feature_names_out(["Gender"]))
df

   Gender_Female  Gender_Male
0            0.0          1.0
1            1.0          0.0
2            1.0          0.0
3            0.0          1.0

------------------------------